@import url("./pages/home/header.css");
@import url("./pages/home/hero.css");
@import url("./pages/home/about.css");
@import url("./pages/home/galery.css");
@import url("./pages/home/artist.css");
@import url("./pages/about/pageAbout.css");
@import url("./pages/contact/pageContact.css");
@import url("./pages/galery/pageGalery.css");

@font-face {
  font-family: "kothe";
  src: url("../../public/assets/fonts/Koch\ Fraktur.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --color-primary: #136f63;
  --color-secondary: #c7c8cc;
  --color-tertiary: #40a2e3;
  --text-color: #eff1f3;
  --background-color: #191717;
  --second-background-color: #151515;
  --link-color: #eff1f3;
  --link-hover-color: #136f63;

  --font-family: "Roboto", sans-serif;
  --custon-font: "kothe";
  --font-size: 62.5%;

  --title: clamp(6rem, 10vw, 11rem);
  --sub-title: clamp(2rem, 5vw, 4.5rem);
  --paragraph: clamp(1.6rem, 1.6vw, 1.8rem);
  --link-font-size: clamp(1.4rem, 3vw, 1.8rem);
  --button-font-size: clamp(1.4rem, 3vw, 1.8rem);
  --details: clamp(1.4rem, 1.5vw, 1.6rem);
  --professional-name: clamp(2.2rem, 5vw, 3rem);

  --border-radius: 0.5rem;
}

html {
  font-size: var(--font-size);
}

body {
  position: relative;
  width: 100vw;
  height: auto;
  background-color: var(--second-background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
body::-webkit-scrollbar {
  width: 0;
}
main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
header {
  width: 100%;
  height: 5rem;
}

.content {
  max-width: 144rem;
  margin: 0 auto;
}
footer {
  width: 100%;
  height: 40rem;
  background-color: var(--background-color);
}

.title {
  font-size: var(--title);
  font-family: var(--custon-font);
  color: var(--color-primary);
}
.subtitle {
  font-size: var(--sub-title);
  color: var(--color-primary);
  margin-left: 3rem;
}
.paragraph {
  color: var(--text-color);
  font-size: var(--paragraph);
  line-height: 1.4;
}

.subtitle-ornament {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 2rem;
  margin: 3rem 0;
}

.subtitle-ornament::after {
  content: "";
  position: absolute;

  top: 0;
  z-index: 1;

  width: 4px;
  height: 100%;
  background-color: var(--color-primary);
}
#professional-name {
  font-size: var(--professional-name);
  font-family: var(--custon-font);
  color: var(--text-color);
}
#professional-details {
  font-size: var(--details);
  color: var(--text-color);
  color: var(--color-secondary);
}
button {
  height: 5rem;

  font-size: var(--button-font-size);
  cursor: pointer;
  transition: border 0.3s ease-in-out;

  & a {
    color: var(--text-color);
  }
}

.container-backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.backToTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-tertiary);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.arrow {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  p {
    max-width: 90%;
  }
}
